@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root{
  --primaryColor: #46A358;
  --secondaryColor: #3D3D3D;
  --thirdColor: #727272;
}

a{
  text-decoration: none;
}

body {
  padding: 0 120px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-carousel .slick-dots li.slick-active button{
  background-color: #46A358 !important;

}
